@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


@import "tailwindcss";
@plugin "daisyui";


body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Signika Negative', sans-serif;
}

.wrapper{
  @apply px-5 md:px-10 lg:px-20 xl:px-40 2xl:px-60 py-10;
}